@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to our online store. Browse our products and find great deals!</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Featured Products</h2>
        <p>Check out some of our featured products below.</p>
    </div>
</div>

<!-- You can add more content here like featured products, etc. -->
